.arrowContainer {
    background-color: transparent;
    float: right;
    height: 10px;
    padding-left: 10px;
    padding-top: 8px;
    vertical-align: middle;
    width: 10px;
}

.arrowUp {
    border-bottom: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 0;
}

.arrowDown {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
    height: 0;
    width: 0;
}
