td {
    font-family: Calibri;
    padding: 8px;
}

th {
    background-color: #CCCCCC;
    border-bottom: 1px solid #AAAAAA;
    cursor: pointer;
    font-family: Calibri;
    font-size: 1.2em;
    padding: 8px 15px 8px 8px;
    vertical-align: middle;
}

table {
    border: 1px solid #666666;
}
