td {
  padding: 8px;
  font-family: Calibri;
}

th {
  padding: 8px 15px 8px 8px;
  background-color: #CCCCCC;
  font-family: Calibri;
  font-size: 1.2em;
  cursor: pointer;
  vertical-align: middle;
  border-bottom: 1px solid #AAAAAA;
}

table {
  border: 1px solid #666666;
}
